
.card-signin {
  border: 0;
  border-radius: 16px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.card-signin .card-title {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 24px;
}

.card-signin .card-body {
  padding: 32px;
}

.form-signin {
  width: 100%;
  opacity: 0.70;

}

div.col-4 {
  width: 300px;
  height: 150px;
  background-color: red;
}

 nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 